html, body {
    width: 100%;
	font-family: $roboto;
    min-width: unset;
    background-color: $drk-green;
    // background: url('img/patterns/page_bg-pattern.png') center center transparent;
}

.h2 {
    font-size: 2rem;

    &--bold {
        font-weight: 600;
    }
}

.page-wrapper {
    border-top: 10px solid $drk-green;
}

.header {
    .upper {
        padding-top: 1rem;
    }
    .logo {
        max-width: 400px;
        float: unset;
        position: unset;
        margin-bottom: 0.5rem;
    }
}

.select-ui {
    padding: 0.5rem;
    font-size: 1.25rem;
    border: none;
    background-color: $highlight-green;
    color: $drk-green;

    &--state {
        display: block;
        width: 100%;
    }

    &:hover, &:focus {
        border: none;
    }
}

.menu-primary-container {
    display: none;
    border-bottom: 1px solid $med-grey;
    padding-bottom: 0.25rem;
    position: relative;
}

.menu {
    background-color: $lt-grey;
    display: flex;

    > .menu-item {
        > a {
            border-bottom: 3px solid transparent;
            padding: .5rem 1rem;
            text-decoration: none;
            color: $blk;
            display: inline-block;
            transition: all .2s;

            &:hover, &:focus {
                border-bottom: 3px solid $drk-green;
            }
        }

        .sub-menu {
            background-color: $highlight-green;
            margin: 0;
            display: none;
            position: absolute;
            width: 100%;
            margin-top: 5px;
            transition: all .2s;
            z-index: 99;

            .menu-item {
                margin: 0;

                a {
                    
                    padding: .5rem 1rem;
                    text-decoration: none;
                    color: $blk;
                    display: block;
                    transition: all .2s;

                    &:hover, &:focus {
                        background-color: $cream;
                    }
                }
            }

            &.show {
                display: grid;
            }
        }
    }
}

.main-container {
    background-color: $wht;
    border: none;

    .content {
        border: none;
    }
}
.content-wrap {
    max-width: $lg;
    margin: 0 auto;
    padding: 0px 1rem;
}
.copyright {
    padding: 1rem 0;
    color: $wht;
}

.post {
    float: unset;
}

.attachment-post-thumbnail {
    max-width: 100%;
}

// 770px
@include at-least($sm) {
    .nav-mobile {
        display: none;
    }
    .menu-primary-container {
        display: block;
    }
    .menu {
        > .menu-item {
            .sub-menu {
                grid-template-columns: auto auto auto auto auto auto;
            }
        }
    }
}

// 960px
@include at-least($md) {
    .nav-mobile {
        display: none;
    }
    .menu-primary-container {
        display: block;
    }
    .menu {
        > .menu-item {
            .sub-menu {
                grid-template-columns: auto auto auto auto auto auto auto;
            }
        }
    }
}


