html, body {
    width: 100%;
	font-family: $roboto;
    // background: url('img/patterns/page_bg-pattern.png') center center transparent;
}

.main-container {
    max-width: $lg;
    margin: 0 auto;
    background-color: $wht;
}

.attachment-post-thumbnail {
    max-width: 100%;

}