html, body {
    width: 100%;
	font-family: $roboto;
    background: url('img/patterns/page_bg-pattern.png') center center transparent;
}

.main-container {
    max-width: $lg;
    margin: 0 auto;
    padding: 0 1rem 2rem;
    background-color: $wht;
}

.map-ui svg { width: 100%; height: 100%; }